<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>All books</title>
</head>
<body>
    <h1>Lista di tutti i libri</h1>
    <table>
        <tr>
            <td><b>Titolo</b></td>
            <td><b>Autore</b></td>
            <td><b>Prezzo</b></td>
            <td><b>Utente</b></td>
        </tr>
        <th:block th:each="book : ${books}">
            <tr>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price} + €"></td>
                <td th:text="${book.user.username}"></td>
                <td><a th:href="@{'/books/detail/' + ${book.getID()}}">Dettaglio</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>